<!DOCTYPE HTML>
<html>
<head>
 <title>Vanatoare</title>
<%~ includeFile('./components/header.html',it) %>

</head>
<body>
<main class="wrapper">
	<%~ includeFile('./components/top.html',it) %>
<div id="app" >
		<div class="container">
		<div >
			<h4>Search a question</h4>
				<input type="text" v-model="search">
		</div>
		<div  v-for="question in foundQuestions"  v-if="foundQuestions">
				<h4>{{question.title}}</h4>
				<dl>
					<dt v-for="(item,name) in question.options" :key="item"><span :class="{bold: question.answer==name,red: question.givenAnswer==name}" >{{name}}) {{item}}</span> </dt>
				</dl>
			</div>
		
		</div>
</div>
</main>
<script src="/js/home.js"></script>
</body>
</html>